<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="header-content">
      <div class="nav-logo">
        <a href="" class="logo"><img src="./assets/images/logo-white.png" alt="logo"></a>
      </div>
      <ul class="nav">
        <li class="item"><a href="">系列鏡框</a></li>
        <li class="item"><a href="">門市據點</a></li>
        <li class="item"><a href="">部落格</a></li>
        <li class="item"><a href="">常見問題</a></li>
      </ul>
    </div>
  </header>

  <%- contents %>

  <!-- <footer class="footer">
    <div class="footer-flex">
      <ul class="footer-nav">
        <li class="footer-nav-item">首頁</li>
        <li class="footer-nav-item">系列鏡框</li>
        <li class="footer-nav-item">門市據點</li>
        <li class="footer-nav-item">部落格</li>
        <li class="footer-nav-item">常見問題</li>
      </ul>
      <ul class="footer-icons">
        <li class="footer-icons-item"><img src="./assets/images/ic-social-fb.png" alt="fb"></li>
        <li class="footer-icons-item"><img src="./assets/images/ic_social_ig.png" alt="ig"></li>
        <li class="footer-icons-item"><img src="./assets/images/ic_social_line.png" alt="line"></li>
      </ul>
    </div>
    <ul class="infos">
      <li class="infos-item"><i class="fa-solid fa-phone"></i>0800-000-000</li>
      <li class="infos-item"><i class="fa-regular fa-envelope"></i>glasses@business.com</li>
    </ul>
    <div class="footer-flex">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <div class="footer-flex-item">
        <p>隱私權政策</p>
        <p>服務條款</p>
      </div>
    </div>
  </footer>-->
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>