// layout start //
.header,
.footer {
  background-color: $r;
  // border: $bo;
}
// header //
.header {
  padding-top: 15px;
  padding-bottom: 15px;
  .header-content {
    display: flex;
    //max-width: 1296px;
    justify-content: space-around;
    flex-wrap: wrap;
    //margin: 0 auto;
  }
  .logo img {
    max-width: 80px;
    height: auto;
  }
  .nav {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .item a {
      width: 80px;
      font-size: 20px;
      line-height: 30px;
      margin-right: 32px;
      margin-left: 32px;
      color: $w;
      text-decoration: none;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
//herder rwd //
@media screen and (max-width: 767px) {
  .header {
    padding: 0;
    .nav-logo {
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 80%;
      margin: 0 auto;
    }
  }
  .nav {
    // background-color: #000000;
    width: 100%;
    text-align: center;
    .item {
      display: block;
      width: 48%;
      border: 1px solid $bo;
      margin-top: 12px !important;
      margin-bottom: 12px !important;
      a {
        font-size: 1rem !important;
        line-height: 64px;
      }
    }
  }
}
// footer //
.footer {
  display: flex;
  flex-direction: column;
  color: $bo; //無效
}
.footer-flex,
.infos {
  border: 1px solid #ffffff;
  width: 67%;
  margin: 0 auto;
  display: flex;
}
.footer-nav,
.footer-icons {
  display: flex;
}
.infos {
  display: flex;
  flex-direction: column;
}
.footer-icons-item img {
  max-width: 48px;
  height: auto;
}
.footer-nav-item,
.footer-flex > p {
  font-size: 1rem;
}
.footer-flex-item {
  display: flex;
  font-size: 14px;
}
.infos-item {
  font-size: 36px;
}
