//顏色
$b: #000000;
$r: #aa0601;
$bo: #ffffff;
$w: #fbf2f2;

//字體
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700;1,900&display=swap");
